body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: auto;
    background-color: pink;
}
.contact-title{
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 40px;
}
.social-icons{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 15px;
}
main{
    background-color: pink;
    padding-bottom: 150px;
}
.main-container{
    width: 75%;
    height: auto;
    margin: auto;
    margin-top: 60px;
    padding-bottom: 50px;
    background-color: #ffffff;
}
.contact-top-box{
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.contact-top-box h2{
    font-size: 30px ;
    padding-bottom: 0;
}
.contact-info-pic{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 42px 42px 200px 38px;
    gap: 10px;

}
.item-3{
    grid-column: 1/ span 2;
}
.t-area{
    grid-column: 1/ span 2;
    border: none;
    border: 1px solid black;
    margin-top: 5px;
}
.elBoton{
    grid-column: 1/ span 2;
    background-color: black;
    color: #ffffff;
    font-size: 18px;
}
.name-info{
    border: none;
    border-bottom: 1px solid black;
}
